body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.container {
    margin-top: 20px;
}

/* sidebar */
.container .row #sidebar {
    width: 180px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.container .row #sidebar a {
  color: #C00!important;
}

/* sections */
.container .row #sidebar .sections {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.container .row #sidebar .sections a {
    text-decoration: none;
    padding: 3px 5px;
}

.container .row #sidebar .sections ul {
    margin: 0;
    list-style-type: none;
}

.container .row #sidebar .sections li {
    border-style:solid;
    border-width: 7px;
}

.container .row #sidebar .meta {
    margin-top: 40px;
}

.container .row .avatar {
    padding: 0;
    margin-left: 2px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #CCC;
    opacity: .8;
}

.container .row #sidebar .name {
    text-transform: uppercase;
    margin-top: 26px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 15px #CCC;
    opacity: .6;
}

.container .row #sidebar .name a:link {
  text-decoration:none;
}

.container .row #sidebar .name a:hover {
  border-bottom:1px solid #ccc;
}

.container .row #sidebar .name #nicolas {
    font-size: 35px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #000;
    padding-left: 1px;
}

.container .row #sidebar .name #goles {
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: bold;
    color: #000;
}

.container .row #sidebar img {
  position: relative;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 4px;
  opacity: .8;
}

img.desaturate { filter: grayscale(100%);
    -webkit-filter: grayscale(70%);
    -moz-filter: grayscale(70%);
    -ms-filter: grayscale(70%);
    -o-filter: grayscale(70%);
}


/* content */
.container .row #content {
  font-style: normal;
  font-variant: normal;
  font-size: 1em;
  line-height: 1.6em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-top: 20px;
}

.container .row #content h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 19px;
  margin-left: 20px;
}

#content a:link {
  color: #C00!important;
}

#content a:visited {
  color: #C00!important;
}

.container .row #content .table {
  margin-top: 2px;
  font-size: 15px;
  margin-left: 20px;
}

/* Post Content */
.content {
  margin-left: 110px;
  width: 740px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.content h1 {
  font-size: 23px;
  border-bottom: 1px solid #CCC;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.content h3 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  padding-bottom: 1px;
  margin-top: 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid #CCC;
  color: #444;
}

.content .date {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
  padding-bottom: 10px;
  color: #999;
}

/* For meta */
.content .meta {
  margin: 30px 0;
  padding: 10px 0;
  font-size: 13px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.content .meta p {
  line-height: 1.4;
  font-size: 13px;
  margin-top: 0px;
}

.content .meta img {
  position: relative;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: -60px;
  border-radius: 4px;
  opacity: .8;
}

.content .meta .copy {
  padding-left: 60px;
}

